@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,400&display=swap");

.r-relay-container {
  .r-page-content{
    display: flex;
    background: #fcfaff;
  }
}
.r-relay-container * {
  .r-font-mono,
  .r-font-mono *{
    font-family: 'Space Mono', monospace !important;
  }
  //font-family: "Lazzer TRIAL", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.r-relay-container .r-pagecontent-container {
  background: #fff;
}

.r-relay-container .r-panel {
  box-shadow: rgb(0 0 0 / 15%) 0px 1px 10px -4px;
}

table.r-grid-lines {
  border: 1px solid lightgray;
  border-collapse: collapse;
  thead tr td,
  thead tr th,
  tbody tr th,
  tbody tr td {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
}

.ag-ltr .ag-cell,
.ag-root-wrapper .ag-cell .ag-react-container {
  font-size: 8pt;
}

.ag-root-wrapper {
  .ag-header-cell div,
  .ag-react-container,
  .ag-cell {
    font-size: 8pt;
    word-break: break-word;
  }
}

.ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  //padding-left: 6px;
  //padding-right: 6px;
}

hr {
  border: none;
  border-top: 1px solid #e1e1e1;
}

body {
  margin: 0;
}

.r-side-navigation-wrapper.r-theme-white {
  .r-side-navigation-container {
    border-right: 1px solid #ebebeb;
  }
}
.r-relay-container
  .r-side-navigation-wrapper
  .r-side-navigation-container
  .r-side-navigation-body
  .r-side-navigation-item {
  font-size: 12px !important;
}

//Badge
.r-relay-container .r-badge-container {
  border-radius: 4px;
  border: 1px solid;
  padding: 3px 5px;
  font-family: "SF Mono";
  font-size: 11px;
}

ol {
  width: 100%;
  padding-left: 22px;
  li {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}

.r-text-breadcrumb-indicator {
  cursor: pointer;
  font-size: 12px !important;
  background: whitesmoke;
  border-radius: 4px;
  padding: 4px 7px;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  margin: 0 6px;
  color: #646464;
}

.r-sidebar-list-item {
  padding: 9px 6px;
  .r-label {
    font-size: 11px;
    font-weight: 500;
    opacity: 0.5;
    margin-bottom: 3px;
  }
  .r-value {
    font-size: 12px;
    font-weight: 500;
  }
}
.r-list-item {
  padding: 9px 6px;
  .r-label {
    font-size: 11px;
    font-weight: 500;
    opacity: 0.5;
    margin-bottom: 3px;
  }
  .r-value {
    font-size: 12px;
    font-weight: 500;
  }
}

.r-relay-container .r-button-wrapper.md .r-button,
.r-relay-container .r-button-wrapper.sm .r-button,
.r-relay-container .r-button-wrapper.lg .r-button,
.r-relay-container .r-button-wrapper.xs .r-button {
  font-size: 8pt;
  padding: 5px 6px;
  border: 1px solid #dfdfdf;
  color: #3455ad;
  font-weight: 500;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px 0px, rgb(0 0 0 / 4%) 0px 1px 1px 0px;
}
r-button-wrapper  xs

.r-relay-container .r-button-wrapper.md.r-color-danger .r-button,
.r-relay-container .r-button-wrapper.sm.r-color-danger .r-button,
.r-relay-container .r-button-wrapper.lg.r-color-danger .r-button,
.r-relay-container .r-button-wrapper.xs.r-color-danger .r-button {
  font-size: 8pt;
  padding: 5px 6px;
  border: 1px solid #dfdfdf;
  color: red;
  font-weight: 500;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px 0px, rgb(0 0 0 / 4%) 0px 1px 1px 0px;
}

.r-relay-container .r-button-wrapper.md .r-button {
  padding: 7px 8px;
}

.r-relay-container .r-button-wrapper.r-color-success .r-button {
  background: #d2ffe6;
  border-color: #b8e8cd;
  color: #067144;
}
.r-relay-container .r-button-wrapper.r-color-danger .r-button {
  background: #ffcae1;
  border-color: #f2aecc;
  color: #800a3d;
}

.r-relay-container .ag-theme-alpine .ag-root-wrapper .ag-header-cell-text {
  text-transform: none !important;
}

.r-relay-container .r-tabstrip-container.style-tabs.r-style-button .r-tab-titles-container .r-tab {
  height: 24px;
}

.r-card-wrapper.r-state-warning.r-title-size-sm{
  color: #33042a;
  background: #ebd8fc;
  border: 1px solid #e3c7e0;
}
.r-relay-container .r-card-wrapper.r-state-warning .r-card-icon{
  color: #33042a;
  background: #ebd8fc;
}
.r-relay-container .r-card-wrapper .r-card-title{
  margin-bottom: 8px;
}

.r-relay-container .r-state-invalid .r-dateinput-date-el{
  background: none;
}

.r-text-tooltip-indicator{
    text-decoration:underline !important;
    text-decoration-style: dotted !important;
}